/*****     MAIN     STYLE       *****/

body {
	font-family: "Open Sans";
	color: #303030;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

a {
	font-family: "Open Sans";
	font-style: normal;
	font-size: 1.0em;
}

a:focus, a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

#aboutMain, #blocks, #numbers, #services, #services123, #quote, #teamMain, #members, #portfolio, #portfolioItems, #contact {
	padding-top: 3rem;
}

#blocks, #numbers, #clients, #services456, #quote, #teamMain, #members {
	padding-bottom: 3rem;
}

#clientsTitle, #serviceName, #teamName, #portfolioName, #contactName {
	margin-bottom: -10px;
}

#clientsTitle h3, #serviceName h3, #teamName h3, #portfolioName h3, #contactName h3 {
	font-family: "Open Sans Extrabold";
	font-size: 27px;
	color: #303030;
}

#serviceName p, #teamName p, #portfolioName p, #contactName p {
	font-size: 21px;
	color: #979797;
}

#aboutMain hr, #clients hr, #services hr, #quote hr, #teamMain hr, #portfolio hr, #contact hr {
	width: 110px;
}

#barre hr, #quote hr, #clients hr  {
	border-top: 1px solid white;
}

#navigation, #portfolioTitle, #aboutDescription {
	padding-top: 20px;
}

#navigation a:hover, #navigation a:focus,
#portfolioTitle a:hover, #portfolioTitle a:focus,
#logo a:hover, #logo a:focus {
	color: #303030;
}

#navigation .active a,
#portfolioTitle .active a {
	color: #303030;
}

#socialMedia a, #socialMedia2 a, #socialMedia3 a {
	margin-right: 10px;
}

/*****     FIN    MAIN     STYLE       *****/


/*****     DEBUT     LAURENDA       *****/

/***** DEBUT HEADER   ****/
#home {
	background-color: #39a38f;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	color: #fff;
	height: 600px;
}

#headerText {
	padding-left: 0px;
    margin-top: 50px;
}

#headerText p {
	line-height: 0.8em;
}

#headerText a {
	font-size: 18px;
	padding-left: 5px;
	text-shadow: 1px 3px 0px rgba(10, 12, 12, 0.1);
	font-style: italic;
}

#barre {
	padding-left: 5px;
}

#rectangle {
	width: 100%;
	height: 80px;
	background-color: rgba(10, 10, 10, 0.3);
	position:  relative;
    top: 65px;
	right: -118px;
	padding-right: 145px;
    text-align: right;
    padding-top: 14px;
}

#rectangle p {
	font-size: 18px;
	text-shadow: 1px 3px 0px rgba(10, 12, 12, 0.1);
	font-style: bold;
	color: white;
}

#oblique {
	width: 100%;
    height: 110px;
    background-color: #39a38f;
    position: relative;
    top: 41px;
    right: -235px;
    transform: rotate(125deg);
    z-index: 99; /* Standard syntax */
}

#slidetext1 {
	font-family: "Open Sans Extrabold";
	font-size: 100px;
	text-shadow: 3px 4px 0px rgba(10, 12, 12, 0.1);
}

#slidetext2 {
	font-family: "Open Sans Regular";
	font-size: 54px;
	padding-left: 5px;
	text-shadow: 3px 4px 0px rgba(10, 12, 12, 0.1);
}

#slidetext3 {
	font-family: "Open Sans Regular";
	font-size: 34px;
	padding-left: 5px;
	text-shadow: 1px 3px 0px rgba(10, 12, 12, 0.1);
}

/*****   D�but Fl�ches d�filantes   ****/

#arrows {
	position: relative;
}

.arrowsDemo a {
	position: absolute;
	bottom: -160px;
	left: 50%;
	color: white;
}

.arrowsDemo a:hover {
	opacity: .5;
	color: white;
}

#arrows a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	-webkit-animation: sdb07 2s infinite;
	animation: sdb07 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}

#arrows a span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

#arrows a span:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}

#arrows a span:nth-of-type(3) {
	top: 32px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*****   Fin Fl�ches d�filantes   ****/

/*****   D�but Menu   ****/

#menu {
	margin-bottom: -15px;
}
#logo a {
	font-family: "Open Sans Extrabold";
	font-size: 30px;
	color: #303030;
	margin-top: 5px;
}

#logo a span {
	font-family: "Open Sans Extrabold";
	font-size: 30px;
	color: #39a38f;
 }

 #navigation ul li {
	width: 137px;
 }

#navigation a {
	font-family: "Open Sans Regular";
	font-size: 14px;
	color: #a4a4a4;
}

#socialMedia {
	padding-top: 25px;
 }

#socialMedia a {
	color: #a4a4a4;
}

/*****   Fin Menu   ****/

/***** FIN HEADER   ****/

/*****   D�but SERVICE   ****/

.serviceTitle {
	font-size: 18px;
	margin-bottom: 10px;
}

.colour {
	color: #39a38f;
}

#services #services123  hr, #services #services456  hr {
	width: 80px;
	margin-left: 0px;
	margin-top: 0px;
}

.serviceDescription {
	font-size: 13px;
	color: #707070;
	margin-top: 1.6rem;
	padding-right: 10px;
}

#services456 {
	margin-top: 2rem;
}

#quote {
	background-color: #3da591;
	color: #fff;
}

#author {
	margin-top: 1.5rem;
}

/*****   Fin SERVICE   ****/

/*****   D�but Portfolio   ****/
#portfolioTitle a {
	font-family: "Open Sans";
	font-size: 16px;
	color: #959595;
	padding-right: 28px;
}

#portfolioTitle {
	padding-left: 34px;
}

.pur {
	background-color: #39a38f;
}

.clair {
	background-color: #62c5b2;
}

#portfolioItems .pur, #portfolioItems .clair {
	padding-top: 55px;
	height: 252px;
	color: #fff;
	text-align: center;
}

#portfolioItems a {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	padding-top: 10px;
}

/*****   Fin Portfolio   ****/

/*****   D�but Footer   ****/

#footer {
	background-color: #d8d8d8;
	color: #737373;
	font-size: 15px;
}

#copyright, #socialMedia2, #socialMedia3 {
    padding-top: 20px;
    text-align: right;
}

#socialMedia2 a {
	color: #737373;
}

#arrow {
	padding-top: 10px;
	padding-left: 25%;
}

#arrow a {
	color: #737373;
}

/*****   Fin Footer   ****/

/*****     FIN     LAURENDA       *****/


/*****     DEBUT     ARMANCE       *****/

/*****   D�but ABOUT   ****/

#aboutName {
	margin-bottom: -10px;
}

#aboutName h3 {
	font-family: "Open Sans Extrabold";
	font-size: 45px;
	color: #303030;
}

#aboutName p {
	font-size: 30px;
	color: #979797;
}

#aboutName h3 span {
	color: #39a38f;
}

#aboutDescription{
  text-align: center;
 	font-size: 17px;
	color: #979797;
}

.blockIcon {
	margin-left: 40%;
}

.blockTitle {
	font-family: "Open Sans Regular";
	font-size: 18px;
	color: #303030;
	margin-top: 1.8rem;
}

#blocks .blockTitle .couleur{
	color: #39a38f;
}

.blockDescription {
	font-family: "Open Sans Regular";
	font-size: 13px;
	color: #707070;
	margin-top: 1.5rem;
	padding-left: 60px;
    padding-right: 60px;
}

#numbers {
 padding-top: 50px;
 background-color: #f0f0f0;
 font-family: "Open Sans Regular";
}

.numbers1234 {
	padding-right: 0px;
}

#number1, #number4{
	padding-left: 75px;
}

#number2 {
	padding-left: 55px;
}

#number3 {
	padding-left: 15px;
}



.iconsalignrigth{
    padding-right: 0px;
    padding-left: 0px;
	padding-top: 13px;
}

.number1234 {
  font-family: "Open Sans Extrabold";
  padding-right: 0px;
  font-size: 50px;
  color: #39a38f;
    margin-bottom: 0px;
}

.numberTitle {
  padding-right: 0px;
  font-size: 18px;
  color: #7a7a7a;
  margin-bottom: 0px;
    position: relative;
    top: -13px;
}

.numberTitle1 {
  padding-left: 5px;
}

.numberTitle2 {
  width: 142px;
}

.iconsa1 {
	padding-left: 10px;
}

.iconsa2 {
	padding-left: 20px;
}


#clients{
   background-color: #39a38f;
}

#clientsTitle {
	padding-top: 5rem;	
}

#clientsTitle p {
	font-family: "Open Sans Regular";
	font-size: 23px;
	margin-bottom: 10px;
}

#clientsTitle h3, #clientsTitle p {
	color: #fff;
}

/*****   FIN ABOUT   ****/

/*****   Début TEAM   ****/

#members {
	background-color: #f0f0f0;
}

#teamMain {
	padding-bottom: 0.6rem;
}

.arrow-up{
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #f0f0f0;
    margin-left :660px;
} 

/*****   FIN TEAM   ****/

#socialMedia3 a {
	color: #8c8c8c;
}

#creative hr, #vert hr, #team hr {
width: 100px;
}

#team1{
font-style: "Open Sans Extrabold";
font-weight: bold;
font-size: 30px;
}
#team2{
 color: #979797;
 font-size: 22px;
}
.list-group-item{
  padding-bottom: 35px;
}
#carousel{
 padding-bottom: 60px;
 padding-top: 50px;
 background-color: #d8d8d8;
}
#pad{
padding-right: 28px;
padding-left: 200px;
}
.card-block{
  background-color: #39a38f;
}
.card-text{
  height: 160px;
}
.list-group{
  height: 80px;
  border-bottom: 3px solid #39a38f;
}
#esp{
  padding-left: 10px;
}
#jo{
  margin-top: 25px;
}
#faceicon{
  padding-left: 110px;
  margin-top: 25px;
}
.carousel-control-prev {
  padding-right: 150px;
  }


  #contact{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  #contact1{
  font-weight: bold;
  font-size: 25px;
  font-style: "Open Sans Extrabold";
  }
  #contact2{
   color: #979797;
  }
#contact3{
  background-color: #39a38f;
  height: 500px;
  position:
}
.toolip{
  text-align: center;
  border: 1px white solid;
  background: white;
  width: 150px;
  height:50px;
}
#Ro{
  text-align: center;
  padding-right: 50px;
  padding-top: 150px;
  padding-left: 600px;
  padding-bottom: 70px;
  }
  .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  margin-left: 56px;
  margin-top: -10px
}

#contact4{
  background-color: #d8d8d8;
  height: 500px;
  }

#requiered{
  color: #39a38f;
padding-left: 154px
  }
.btn {
  background-color: #39a38f;
}

#formulaire{
  padding-top: 40px;
  margin-top: 10px;
  border:10px solid white;
  background-color: white;
  height: 650px;
  width: 1000px;
  margin-left: 149px;

}
.form-group{
  margin-bottom: -1rem;
}

#contactinfo{
  padding-left: 200px;
}
#info{
  font-size: 15px;
  padding: 0px;

}
#row3{
  padding-right: 100px;
}
/*****     FIN     ARMANCE       *****/
